#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Round'; /* A unique name for your font */
  src: url('./assets/Fonts/Friend-Bold-BF651631e73b9fd.otf') format('opentype');/* Provide multiple formats for broad browser support */
  font-weight:bold;
  font-style: normal;
  font-display: swap; /* Tells the browser how to handle the font while it's loading */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  background-color: #2f3768aa;
}